mock>=1.0.1
nose>=1.3.0
coverage>=3.7.1

# Install specific version of h5py from GitHub
numpy==1.15.1  # If h5py gets the version of numpy it thinks it wants it doesn't work
git+https://git@github.com/h5py/h5py.git@e0959f969bfb4297e9fc7d914a64a961d8a9a15b#egg=h5py
